@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-gray: #474A5;
  --white: #fafafa;
  --border-color: #b1b1b1;
  --second-text-color: '#E5E5E5';
  --icon-color: '#828282';
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  min-height: 100vh;
}

.padded-section {
  padding-left: 47px;
  padding-right: 47px;
}
