@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #323232;
  --second-color: #2d2d2d;
  --text-color: #cbcbcb;
  --icon-color: #8a8a8a;
  --accent-color: #a100ed;
  --white: #ffff;
  --black: #000;
}
